@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}
.titulo {
  font-family: "Black Han Sans", sans-serif;
}

.img-carrousel{
  height: 500px;
  object-fit: cover;
}
